<div class="container">
    <div class="row">
        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto my-5">
            <h5>Cadastrar Usuário</h5>
            <br>
            <form [formGroup]="usuarioFormGroup" (ngSubmit)="create()">
                <div class="form-group">
                    <label for="name">Nome</label>
                    <input
                        type="text"
                        class="form-control"
                        id="name"
                        formControlName="name"
                        aria-describedby="nameHelp"
                        placeholder="Digite aqui o seu nome completo"
                        [ngClass]="applyValidationCss('name')">
                    <small id="nameHelp">Você precisa nos contar o seu nome completo.</small>
            
                    <div class="invalid-feedback">
                        <app-form-invalid-feedback
                            [showMessage]="submitted"
                            [control]="usuarioFormGroup.get('name')"
                            [label]="'Nome'">
                        </app-form-invalid-feedback>
                    </div>
            
                </div>
            
                <div class="form-group">    
                    <label for="email">Email</label>
                    <input
                        type="text"
                        class="form-control"
                        id="email"
                        formControlName="email"
                        aria-describedby="emailHelp"
                        placeholder="Digite aqui o seu email"
                        [ngClass]="applyValidationCss('email')"
                        autocomplete="username">
                    <small id="emailHelp">Você precisa nos contar o seu nome email para contato.</small>
            
                    <div class="invalid-feedback">
                        <app-form-invalid-feedback
                            [showMessage]="submitted"
                            [control]="usuarioFormGroup.get('email')"
                            [label]="'Email'">
                        </app-form-invalid-feedback>
                    </div>
            
                </div>
            
                <div class="form-group">
                    <label for="password">Senha</label>
                    <input
                        type="password"
                        class="form-control"
                        id="password"
                        formControlName="password"
                        aria-describedby="passwordHelp"
                        placeholder="Digite aqui sua senha"
                        [ngClass]="applyValidationCss('password')"
                        autocomplete="new-password">
                    <small id="passwordHelp">A senha precisa ter no mínimo 6 caracteres.</small>
            
                    <div class="invalid-feedback">
                        <app-form-invalid-feedback
                            [showMessage]="submitted"
                            [control]="usuarioFormGroup.get('password')"
                            [label]="'Senha'">
                        </app-form-invalid-feedback>
                    </div>
            
                </div>
            
                <div class="form-group">
                    <label for="confirmPassword">Confirmar Senha</label>
                    <input
                        type="password"
                        class="form-control"
                        id="confirmPassword"
                        formControlName="confirmPassword"
                        aria-describedby="confirmPasswordHelp"
                        placeholder="Digite aqui sua senha novamente"
                        [ngClass]="applyValidationCss('confirmPassword')"
                        autocomplete="new-password">
                    <small id="confirmPasswordHelp">Digite sua senha novamente para garantir a senha digitada.</small>
                    
                    <div class="invalid-feedback">
                        <app-form-invalid-feedback
                            [showMessage]="submitted"
                            [control]="usuarioFormGroup.get('confirmPassword')"
                            [label]="'Confirmar Senha'">
                        </app-form-invalid-feedback>
                    </div>
                </div>
            
                <a [routerLink]="['/usuario', 'signIn']" [queryParamsHandling]="'preserve'">Já possui uma conta?</a>
                <div class="mt-5">
                    <button type="submit" class="btn btn-primary" [disabled]="btnsFormDisabled">Cadastrar</button>&nbsp;
                    <button type="button" class="btn btn-default" (click)="clear()" [disabled]="btnsFormDisabled">Limpar</button>&nbsp;
                    <button type="button" class="btn btn-danger" routerLink="/" [disabled]="btnsFormDisabled">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>