<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center logo">
  <div class="col-md-7 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">Traga sua loja para a InkBy</h1>
    <p class="lead font-weight-normal">Crie já sua loja virtual com a InkBy.</p>
    <a class="btn btn-outline-primary" href="#" [routerLink]="['/usuario', 'signUp']" [queryParams]="{ account: 'FREE' }">Grátis</a>&nbsp;
    <a class="btn btn-outline-primary" href="#" [routerLink]="['/usuario', 'signUp']" [queryParams]="{ account: 'PREMIUM' }">Premium</a>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>