body {
    min-height: 100%;
    height: 100%;
}
/* You can add global styles to this file, and also import other style files */
.valid-feedback.feedback-icon {
    position: absolute;
    width: auto;
    bottom: 33px;
    right: 10px;
    margin-top: 0;
}

.invalid-feedback.feedback-icon {
    position: absolute;
    width: auto;
    bottom: 57px;
    right: 10px;
    margin-top: 0;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}