body {
  font-size: .875rem;
}
  
/*
  * Navbar
*/
  
.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  font-weight: 500;
}
  
.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}
  
.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}