<nav class="navbar navbar-dark sticky-top bg-primary flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">
    InkBy
  </a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="mr-5" *ngIf="!usuario">
    <a class="nav-link text-white float-left" routerLink="usuario/signUp">Cadastrar</a>
    <button class="btn btn-warning" routerLink="usuario/signIn">Entrar</button>
  </div>
  <div class="mr-5 text-white" *ngIf="usuario">
    <span>{{usuario.name}}</span>
  </div>
</nav>

<main role="main">
  <router-outlet></router-outlet>
  <app-notification></app-notification>
</main>