<div class="container">
    <div class="row">
        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto my-5">
            <h5>Acessar o InkBy</h5>
            <br>
            <form [formGroup]="loginFormGroup" (ngSubmit)="login()">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input
                        type="text"
                        class="form-control"
                        id="email"
                        formControlName="email"
                        aria-describedby="emailHelp"
                        placeholder="Digite aqui o seu email"
                        [ngClass]="applyValidationCss('email')"
                        autocomplete="username">
                        
                    <div class="invalid-feedback">
                        <app-form-invalid-feedback
                            [showMessage]="submitted"
                            [control]="loginFormGroup.get('email')"
                            [label]="'Email'">
                        </app-form-invalid-feedback>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password">Senha</label>
                    <input
                        type="password"
                        class="form-control"
                        id="password"
                        formControlName="password"
                        aria-describedby="passwordHelp"
                        placeholder="Digite aqui sua senha"
                        [ngClass]="applyValidationCss('password')"
                        autocomplete="current-password">
                    
                    <div class="invalid-feedback">
                        <app-form-invalid-feedback
                            [showMessage]="submitted"
                            [control]="loginFormGroup.get('password')"
                            [label]="'Password'">
                        </app-form-invalid-feedback>
                    </div>
                </div>
                
                <div class="mt-5">
                    <button type="submit" class="btn btn-primary" [disabled]="btnsFormDisabled">Entrar</button>&nbsp;
                    <button type="button" class="btn btn-default" (click)="clear()" [disabled]="btnsFormDisabled">Limpar</button>&nbsp;
                    <button type="button" class="btn btn-danger" routerLink="/" [disabled]="btnsFormDisabled">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>
