
<h5>Minhas lojas</h5>
<div class="row row-cols-sm-2 row-cols-md-4">
  <div class="col-sm-6 col-md-3 mt-2" *ngFor="let loja of lojas | async "> 
      <div class="card"> 
          <img class="card-img-top" src="/assets/loja-fundo.jpeg" [alt]="loja.name">
          <div class="card-body">
            <h5 class="card-title">{{loja.name}}</h5>
            <p class="card-text">{{loja.account}}</p>
            <a href="#" class="card-link" [routerLink]="lojaConfigurationURL(loja)">Configurar</a>
            <a class="card-link">Visualizar</a>
          </div>
      </div>
  </div>
</div>