<h5>Cadastrar Loja</h5>
<br>
<form [formGroup]="lojaFormGroup" (ngSubmit)="create()">
    <div class="form-group">
        <label for="name">Nome</label>
        <input type="text"
               class="form-control"
               id="name"
               aria-describedby="nameHelp"
               formControlName="name"
               placeholder="Digite aqui o nome da loja"
               [ngClass]="applyValidationCss('name')">
        <small id="nameHelp">Você precisa nos contar o nome da sua loja.</small>

        <div class="invalid-feedback">
            <app-form-invalid-feedback
                [showMessage]="submitted"
                [control]="lojaFormGroup.get('name')"
                [label]="'Nome'">
            </app-form-invalid-feedback>
        </div>
    </div>

    <div class="form-group">
        <label for="cnpj">CNPJ</label>
        <input type="text"
               mask="00.000.000/0000-00"
               class="form-control"
               id="cnpj"
               aria-describedby="cnpjHelp"
               formControlName="cnpj"
               placeholder="Digite aqui o CNPJ da loja"
               [ngClass]="applyValidationCss('cnpj')">
        <small id="nameHelp">Você precisa nos contar o CNPJ da sua loja.</small>

        <div class="invalid-feedback">
            <app-form-invalid-feedback
                [showMessage]="submitted"
                [control]="lojaFormGroup.get('cnpj')"
                [label]="'CNPJ'">
            </app-form-invalid-feedback>
        </div>
    </div>

    <div>
        <h5>Selecione um plano mensal para a sua loja</h5>
        <div class="card-deck mb-2 text-center">
            <div class="card mb-6 shadow-sm" [ngClass]="{ 'bg-warning text-white': isFree }">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Grátis</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">
                        R$0
                        <small [class.text-muted]="!isFree">/ mês</small>
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>30 Categorias</li>
                        <li>200 Produtos</li>
                        <li>3 Layouts disponíveis</li>
                        <li>&nbsp;</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary" (click)="setFree()">
                        Grátis
                    </button>
                </div>
            </div>
            <div class="card mb-6 shadow-sm" [ngClass]="{ 'bg-warning text-white': isPremium }">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Premium</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">
                        R$0
                        <small [class.text-muted]="!isPremium">/ mês</small>
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Categorias ilimitadas</li>
                        <li>Produtos ilimitados</li>
                        <li>Personalização de layouts</li>
                        <li>Domínio personalizado</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary" (click)="setPremium()">
                        Premium
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-5">
        <button type="submit" class="btn btn-primary" [disabled]="submitted">Criar</button>&nbsp;
        <button type="button" class="btn btn-default" (click)="clear()" [disabled]="submitted">Limpar</button>&nbsp;
        <button type="button" class="btn btn-danger" routerLink="/manager/loja" [disabled]="submitted">Cancelar</button>
    </div>
</form>